html,
body {
    margin: 0;
    padding: 0;

    color: var(--black);
    background: #F9F8FF;
}

a {
    text-decoration: none;

    color: inherit;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --white: #FFF;
    --primary: #7653FC;
    --primary-hover: #3516b1;
    --ghost-hover: #5fffbc83;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --red: #FC836D;
    --font-family: 'Noto Sans Display', sans-serif;
    --size-s: 14px;
    --size-m: 16px;
    --size-l: 18px;

}
